<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Ник.Елисеев</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<link rel="stylesheet" href="css/main.min.css">

</head>

<body>
<div id="app" class="d-flex justify-content-center">
	<div class="main-container">
		<header id="header">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="about-me">
							<div class="row no-gutters">
								<div class="col-12 col-md-6 col-lg-5 col-xl-4">
									<div class="name d-flex justify-content-start">
										<h1>
											<span class="green bold">Е</span>лисеев<span class="green bold">Ник</span>ита/
										</h1>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-3">
									<div class="specialty">
										<h2> <span class="bold accent">Web</span>-разработчик</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	
		<section id="instruments">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="title">
							<h2>/<span class="green bold">И</span>нструенты</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="pallete-skills">
							<div class="row">
								<div class="col-12">
									<div class="row d-flex justify-content-center">
										<div class="col-12 col-md-5">
											<div v-on:click="visibleHtml = !visibleHtml" v-if="visibleHtml" class="info-instrument info-html">
												<div class="title d-flex justify-content-center">
													<h2 class="bold uppercase">html</h2>
													<h2 class="orange"><i class="fab fa-html5"></i></h2>
												</div>
												<div class="description">
													<span>
														HTML (HyperText Markup Language — «язык гипертекстовой разметки»)
														— это скилет вашего будущего сайта.
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row d-flex justify-content-center">
										<div class="col-12 col-md-5">
											<div v-on:click="visibleCss = !visibleCss" v-if="visibleCss" class="info-instrument info-css">
												<div class="title d-flex justify-content-center">
													<h2 class="bold uppercase">CSS</h2>
													<h2 class="blue"><i class="fab fa-css3"></i></h2>
												</div>
												<div class="description">
													<span>
														CSS (Cascading Style Sheets - "язык таблиц стилей"). 
														Отвечает за внеший вид: цвета, шрифты, отступы, тени,	— это кожа вашего будущего сайта.
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row d-flex justify-content-center">
										<div class="col-12 col-md-5">
											<div v-on:click="visibleJs = !visibleJs" v-if="visibleJs" class="info-instrument info-js">
												<div class="title d-flex justify-content-center">
													<h2 class="bold ">JavaScript</h2>
													<h2 class="yellow"><i class="fab fa-js"></i></h2>
												</div>
												<div class="description">
													<span>
														JavaScript — это скриптовый язык, который заставляет статическую страницу двигаться без перезагрузки, — мышцы сайта.
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row d-flex justify-content-center">
										<div class="col-12 col-md-5">
											<div v-on:click="visibleAdobe = !visibleAdobe" v-if="visibleAdobe" class="info-instrument info-adobe">
												<div class="title d-flex justify-content-center">
													<h2 class="bold uppercase">Adobe</h2>
													<h2 class="red"><i class="fab fa-adobe"></i></h2>
												</div>
												<div class="description">
													<span>
														Photoshop, Illustrator, XD, After Effects, Premier Pro 
														— комплекс программ, необходимых для визуализации.
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row d-flex justify-content-center">
										<div class="col-12 col-md-5">
											<div  v-on:click="visibleSass = !visibleSass" v-if="visibleSass" class="info-instrument info-sass">
												<div class="title d-flex justify-content-center">
													<h2 class="bold uppercase">Sass</h2>
													<h2 class="accent"><i class="fab fa-sass"></i></h2>
												</div>
												<div class="description">
													<span>
														Sass — css-препроцессор. Позволяет оптимизировать процесс написания CSS-стилей.
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row d-flex justify-content-center">
										<div class="col-12 col-md-5">
											<div v-on:click="visibleGulp = !visibleGulp" v-if="visibleGulp" class="info-instrument info-gulp">
												<div class="title d-flex justify-content-center">
													<h2 class="bold uppercase">Gulp</h2>
													<h2 class="gulp"><i class="fab fa-gulp"></i></h2>
												</div>
												<div class="description">
													<span>
														Gulp — это таск-менеджер для автоматического выполнения часто используемых задач.
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row d-flex justify-content-center">
										<div class="col-12 col-md-5">
											<div v-on:click="visibleVue = !visibleVue" v-if="visibleVue" class="info-instrument info-vue">
												<div class="title d-flex justify-content-center">
													<h2 class="bold uppercase">Vue.js</h2>
													<h2 class="green"><i class="fab fa-vuejs"></i></h2>
												</div>
												<div class="description">
													<span>
														Vue.js — это js-фреймворк, необходим для создания реактивности на странице.
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row d-flex justify-content-center">
										<div class="col-12 col-md-5">
											<div v-on:click="visibleGit = !visibleGit" v-if="visibleGit" class="info-instrument info-git">
												<div class="title d-flex justify-content-center">
													<h2 class="bold uppercase">GitHub</h2>
													<h2 class="white"><i class="fab fa-github"></i></h2>
												</div>
												<div class="description">
													<span>
														GitHub — система контроля версий, позволяет быстро и удобно делиться кодом.
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="instrument">
										<div class="html d-flex justify-content-center">
											<span v-on:click="visibleHtml = !visibleHtml" class="click orange bold uppercase">html</span>
										</div>
										<div class="html d-flex justify-content-center">
											<span v-on:click="visibleHtml = !visibleHtml" class="click orange"><i class="fab fa-html5"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row d-flex justify-content-center">
								<div class="col-6">
									<div class="instrument">
										<div class="css d-flex justify-content-center">
											<span v-on:click="visibleCss = !visibleCss" class="click blue bold uppercase">css</span>
										</div>
										<div class="css d-flex justify-content-center">
											<span v-on:click="visibleCss = !visibleCss" class="click blue"><i class="fab fa-css3" aria-hidden="true"></i></span>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="instrument">
										<div class="adobe d-flex justify-content-center">
											<span v-on:click="visibleAdobe = !visibleAdobe" class="click red uppercase bold">Adobe</span>
										</div>
										<div class="adobe d-flex justify-content-center">
											<span v-on:click="visibleAdobe = !visibleAdobe" class="click red"><i class="fab fa-adobe"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row d-flex justify-content-center">
								<div class="col-6">
									<div class="instrument">
										<div class="js d-flex justify-content-start align-items-center">
											<span v-on:click="visibleJs = !visibleJs" class="click yellow"><i class="fab fa-js"></i></span>
											<span v-on:click="visibleJs = !visibleJs" class="click yellow bold">JavaScript</span>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="instrument">
										<div class="sass d-flex justify-content-end align-items-center">
											<span v-on:click="visibleSass = !visibleSass" class="click accent bold uppercase">Sass</span>
											<span v-on:click="visibleSass = !visibleSass" class="click accent uppercase"><i class="fab fa-sass"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row d-flex justify-content-center">
								<div class="col-6">
									<div class="instrument">
										<div class="gulp d-flex justify-content-center">
											<span  v-on:click="visibleGulp = !visibleGulp" class="click gulp uppercase bold">Gulp</span>
										</div>
										<div class="gulp d-flex justify-content-center">
											<span v-on:click="visibleGulp = !visibleGulp" class="click gulp"><i class="fab fa-gulp"></i></span>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="instrument">
										<div class="vue d-flex justify-content-center">
											<span v-on:click="visibleVue = !visibleVue" class="green click  bold uppercase">Vue.js</span>
										</div>
										<div class="vue d-flex justify-content-center">
											<span v-on:click="visibleVue = !visibleVue" class="green click "><i class="fab fa-vuejs"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="instrument">
										<div class="git d-flex justify-content-center">
											<span v-on:click="visibleGit = !visibleGit" class="whiteclick ">GitHub</span>
										</div>
										<div class="git d-flex justify-content-center">
											<span v-on:click="visibleGit = !visibleGit" class="whiteclick "><i class="fab fa-github"></i></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>


	<script src="libs/vue/vue.min.js"></script>
	<script src="js/scripts.min.js"></script>

</body>
</html>
