@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	color: $white
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

.uppercase
	text-transform: uppercase

::selection
	background-color: $accent
	color: #fff

a
	text-decoration: none

a:hover
	text-decoration: none

.orange
	color: $orange
.green
	color: $green
.blue
	color: $blue
.accent
	color: $accent
.yellow
	color: yellow
.red
	color: red
.black
	color: $dark
.white
	color: $white

.bold
	font-family: roboto-bold

ul
	list-style-type: none
	padding: 0 0 0 20px

.fab
	font-family: font-awesome

h1
	font-size: 2.2rem

h2
	font-size: 1.7rem

.click
	cursor: pointer
	span
		transition: 1s

.click:hover span
	color: $white

.main-container
	padding-top: 150px


#app
	padding: 20px
	background: url(../img/main3.jpg) no-repeat center center / cover

#header
	position: relative
	z-index: 999
	-webkit-box-shadow: 0px -53px 110px 17px rgba(1,38,54,1)
	-moz-box-shadow: 0px -53px 110px 17px rgba(1,38,54,1)
	box-shadow: 0px -53px 110px 17px rgba(1,38,54,1)
	background: $black
	padding: 20px 0
	margin-bottom: 10px
	border-radius: 15px
	.name
		margin: 0 0 10px 0


#instruments
	-webkit-box-shadow: 0px 24px 171px 60px rgba(1,38,54,1)
	-moz-box-shadow: 0px 24px 171px 60px rgba(1,38,54,1)
	box-shadow: 0px 24px 171px 60px rgba(1,38,54,1)
	border-radius: 15px
	background: url(../img/instruments.jpg) no-repeat center center / cover
	padding-bottom: 30px
	.instrument
		margin: 10px 0 20px 0
	.title
		margin: 40px 0 20px 0
	.pallete-skills
		margin: 0px 0 0 0
		i
			font-size: 36px
	.name
		margin: 40px 0 10px 0
	.list-skills
		margin: 10px 0 25px 0
	.gulp
		color: #D23342
	.js
		span
			margin: 5px 5px 0 0
	.sass
		span
			margin: 5px 5px 0 0
	.info-instrument
		position: absolute
		width: 90%
		top: 100px
		z-index: 999
		background: $black
		border-radius: 10px
		padding: 0 6px 25px 25px
		.title
			padding: 0px 0 0 0
			margin: 10px 0 20px 0
			h2
				margin: 0 10px 0 0
	.info-html
		background: url(../img/info/html.jpg) no-repeat bottom left / cover
	.info-css
		background: url(../img/info/css.jpg) no-repeat bottom left / cover
	.info-js
		background: url(../img/info/js.jpg) no-repeat bottom left / cover
	.info-adobe
		background: url(../img/info/adobe.jpg) no-repeat bottom left / cover
	.info-sass
		background: url(../img/info/sass.jpg) no-repeat bottom left / cover
	.info-gulp
		background: url(../img/info/gulp.jpg) no-repeat bottom left / cover
	.info-vue
		background: url(../img/info/vue.jpg) no-repeat bottom left / cover
	.info-git
		background: url(../img/info/git.jpg) no-repeat bottom left / cover
	.close-info
		margin: 15px 0 0 0 
		

@import "media" // Всегда в конце
